.bl_point {
    height: 100%;
    font-size: 13px;
    line-height: 16px;
    color: rgb(26, 26, 26);
    font-weight: normal;
    text-decoration: none;
    border: 1px solid rgb(26, 26, 26);
    border-radius: 8px;
    position: relative;
    display: flex;
}

.bl_point_value {
    width: 75%;
    padding: 16px;
}
