
/* dispatch checkout cart */

.dispatch-checkout-cart .cart-content.table thead th {
	font-size: .9rem;
	font-weight: 500;
}

.dispatch-checkout-cart .cart-content-image-block {
	width: 10%;
}

.product-delete {
	font-size: 12px;
}

.dispatch-checkout-cart .cart-content-image-block img {
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 10px;
}

.dispatch-checkout-cart .account .panel-body .shop-btn, .dispatch-checkout-cart .account .panel-body .btn-default {
  width: auto;
  color: var(--primary-color);
  font-weight: 500;
}

.dispatch-checkout-cart .sku {
  margin-bottom: 13px;
  font-size: 10px;
  color: var(--primary-color);
  font-weight: 500;
}

.dispatch-checkout-cart .cart-content-title.text-right {
  text-align: center;
}

.dispatch-checkout-cart #price_subtotal_update_3549868282, #price_display_update_3924321467, #price_subtotal_update_132515223, #price_subtotal_update_3924321467, #price_display_update_132515223 {
  text-align: center;
}

.dispatch-checkout-cart .price {
	display: inline-block;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 10px;
}

.dispatch-checkout-cart .panel-body.d-flex.justify-content-between {
  align-items: center;
}

.dispatch-checkout-cart .panel.panel-default.cart-total {
  margin-bottom: 20px;
}

.dispatch-checkout-cart #checkout_totals {
  padding: 25px;
}

.dispatch-checkout-cart .cart-statistic.dl-horizontal .subtotal, .cost-transport, .discount, .tax, .payment-surcharge, .subtotal-discount {
  font-weight: 400;
  font-size: 16px;
}

.dispatch-checkout-cart .cart-statistic.dl-horizontal .item, .item-price {
	font-weight: 600;
	 font-size: 18px;
}

.dispatch-checkout-cart .cart-statistic.dl-horizontal .taxes-tittle {
  font-weight: 600;
  font-size: 18px;
  color: var(--primary-color);
  border-bottom: 1px solid #ddd;
  width: 45px;
  }

.dispatch-checkout-cart .ty-btn-go {
  color: #fff !important;
  background: var(--primary-color);
  border: var(--primary-color);
  padding: .375rem .75rem;
  border-radius: .25rem;
}

.dispatch-checkout-cart #coupon_field {
  background: #fff;
  border: 1px solid #eee;
  border-radius: 5px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.07);
  padding-bottom: 6px;
  padding-top: 6px;
  padding-left: 12px;
  padding-right: 12px;
  margin-right: 15px;
}

.dispatch-checkout-cart .glyphicon.glyphicon-remove-sign.fa.fa-times-circle {
  color: var(--primary-color);
}

.dispatch-checkout-cart .panel.panel-default.cart-content-top-buttons {
  margin-bottom: 10px;
}


.dispatch-checkout-cart .coupons-container .btn.btn-default {
	border: 1px solid #222;
	color: #222;
	font-size: .8rem;
	height: 100%;
}

.coupons-delete::before {
	content: "\f2ed";
	font-family: 'Font Awesome 5 Free';
	color: #FD4B3F;
	font-size: .8rem;
}

.btn.coupons-delete {
	padding: 0px 15px;
}

.coupons-item.cuppon {
	background: #fff;
	display: inline-flex;
	padding: 3px 0px 3px 10px;
	border-radius: 5px;
	font-weight: 500;
	border: 1px dashed;
	margin-bottom: 0.5rem;
	align-items: center;
}

/* End dispatch checkout cart */


/* Checkout start */

.dispatch-quickcheckout-checkout .row:not(.full-width) {
  max-width:1200px
}

#shipping_rates_list .ty-valign {
  margin-right: 10px;
}

.quickcheckout .ty-other-pay .ty-payments-list .ty-payments-list__item input {
  margin-right: 10px;
  flex-shrink: 0;
}

.quickcheckout .checkout__block h3 {
  font-size: 21px;
}

.quickcheckout .sticky-top {
  border-radius: 5px;
}

.quickcheckout .ptype {
	border: 1px solid #e3e3e3;
	padding: 5px 10px;
	border-radius: 2px;
	display: flex;
	align-items: center;
	margin-right: 10px;
	background: #f9f9f9;
}

.quickcheckout .ptype .form-check-label {
  font-size: .8rem;
}

.quickcheckout .form-group.business_class {
  width: 100% !important;
}

.quickcheckout .form-check .form-check-input {
  float: left;
  margin-left: 0;
  margin-right: 1rem;
}

.quickcheckout .shipping-address__switch {
  margin: 2rem 0 1rem;
}

.quickcheckout .invoice_type .ptype .radio.form-check-label {
  padding-right: 15px;
}

.quickcheckout #step_two_body .form-group.litecheckout__field--full {
  width:100%;
}

.quickcheckout #step_two_body {
  .form-group.billing-last-name {
    width: 48%;
    margin-left: 2%;
  }
  .form-group.shipping-last-name {
    width: 48%;
    margin-left: 2%;
  }
  .form-group.billing-address {
    width: 48%;
    margin-left: 2%;
  }
  .form-group.billing-city {
    width: 48%;
    margin-left: 2%;
  }
  .form-group.shipping-city {
    width: 48%;
    margin-left: 2%;
  }
  .form-group.shipping-country {
    width: 48%;
    margin-left: 2%;
  }
  .form-group.billing-country {
    width: 48%;
    margin-left: 2%;
  }
}

.quickcheckout #step_two_body .form-group {
  width: 50%;
  float: left;
  box-sizing: border-box;
}

.quickcheckout #step_two_body .form-group.invoice_type {
    display: block;
    width: 100%;
    clear: both;
}

.quickcheckout .ty-step__title-txt, .quickcheckout .ty-subheader {
	font-size: 18px;
	margin-bottom: .25rem;
	font-weight: 600;
}

.quickcheckout .ty-shipping-options__method, .quickcheckout .ty-payments-list__item {
  border: 1px solid #999;
  padding: 1rem;
  border-radius: 2px;
  margin-bottom: .5rem;
  display: flex;
}

.quickcheckout .ty-shipping-options__method label, .quickcheckout .ty-payments-list__item label {
  margin-bottom: 0 !important;
}

.quickcheckout .cart-item {
  background: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.quickcheckout .cart-item .image img {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px;
}

.quickcheckout .cart-item .name,
.quickcheckout .cart-item .price {
  font-size: 12px;
  margin: 0;
}

.quickcheckout .cart-item .delete i {
  color: var(--accent-color);
  font-size: 16px;
}

.quickcheckout .ty-cart-total ul {
  font-size: 16px;
}


.quickcheckout .ty-cart-statistic__item.ty-statistic-list-subtotal, .ty-cart-statistic__item.ty-statistic-list-subtotal-discount {
  border-bottom: 1px solid #eee;
  font-size: .8rem;
}

.quickcheckout .ty-cart-statistic__item.ty-statistic-list-subtotal, .ty-cart-statistic__item.ty-statistic-list-subtotal-discount {
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
  padding-bottom: 12px;
}

.quickcheckout .ty-cart-statistic__item.ty-statistic-list-total {
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
  font-weight: 600;
}

.quickcheckout .clearfix label {
	display: flex;
	font-size: .85rem;
	align-items: center;
	font-weight: 600;
	margin-bottom: .25rem;
}

.quickcheckout .ty-payments-list__image {
	max-width: 250px;
	padding-left: 10px;
	flex-shrink: 1;
	width: 100%;
}

.ty-payments-list__item .form-check {
  width:100%;
  align-items: center;
}

.quickcheckout .ty-payments-list__item-title {
	display: flex;
	font-size: .85rem;
	align-items: center;
	font-weight: 600;
	margin-bottom: .25rem;
	flex-direction: row-reverse;
	justify-content: space-between;
	width: 100%;
}

.quickcheckout .ty-payments-list__item-group {
  display: flex;
}

.quickcheckout .clearfix .ty-checkout-buttons.cm-checkout-place-order-buttons button {
  width: 100%;
  background: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  color: #fff;
  font-weight: 500;
  padding-top: 6px;
  padding-bottom: 6px;
}

.quickcheckout .clearfix .cm-agreement.checkbox {
  margin-right: 10px;
}

.quickcheckout .cm-field-container.form-group .cm-check-agreement.cm-required label {
  display: inline-block;
  font-size: .85rem;
}

.quickcheckout .form-check-input:checked {
  border-color: var(--accent-color);
}

.secure-checkout p {
	font-weight: bold;
	color: #007300;
	font-size: .8rem;
}

.secure-checkout {
	border-bottom: 1px solid #eee;
	padding-bottom: 1rem;
}

.checkout-copyright {
	font-size: .8rem;
	font-weight: bold;
}

/* Checkout edits */
.dispatch-quickcheckout-checkout .s-block:before {
  content: "";
  display: block;
  width: 50%;
  position: absolute;
  top: 0;
  left: -100%;
  bottom: 0;
  background: #f7f7f7;
  z-index: 0;
  -webkit-box-shadow: 0 -1px 0 #e1e1e1 inset;
  box-shadow: 0 -1px 0 #e1e1e1 inset;
  left: 50%;
  background-position: left top;
  -webkit-box-shadow: 1px 0 0 #e1e1e1 inset;
  box-shadow: 1px 0 0 #e1e1e1 inset;
}

.dispatch-quickcheckout-checkout .bi::before, [class^="bi-"]::before, [class*=" bi-"]::before {
  background: #fff;
  border-radius: 50%;
}

.dispatch-quickcheckout-checkout .f-block {
  padding: 1.5rem;
  margin-bottom: 2rem;
  z-index: 1;
  position: relative;
}

.dispatch-quickcheckout-checkout header,
.dispatch-quickcheckout-checkout .breadcrumbs,
.dispatch-quickcheckout-checkout footer {
  display: none;
}

.dispatch-quickcheckout-checkout .form-check {
  padding-left: 0;
}



.quickcheckout .top-checkout .logo {
	max-width: 200px;
	display: block;
}

.quickcheckout .top-checkout .checkout-back-btn {
	display: inline-flex;
	align-items: center;
	font-size: .75rem;
	background: #f1efeb;
	border-radius: 0;
	padding: .35rem 2.8rem;
	font-weight: 500;
}

.quickcheckout .top-checkout .checkout-back-btn i {
  font-size: .6rem;
  margin-right: 5px;
}

.quickcheckout .slide-btn {
  background: var(--accent-color);
  color: #fff;
  font-size: .8rem;
  display: inline-flex;
  align-items: center;
  padding: .3rem 2rem;
  margin-left: 20px;
}

.quickcheckout .form-group {
  margin-bottom: 20px;
}

.quickcheckout .form-control, .quickcheckout .form-select {
	border-radius: 4px;
	border: 1px solid #ddd;
	padding: .375rem .75rem;
}

.cm-check-agreement a {
	border-bottom: 1px dotted;
}

.ty-mainbox-cart__body .cart-item .image {
  position: relative;
}

.quickcheckout .cart-item .delete {
  position: absolute;
  top: -11px;
  right: -8px;
}

.quickcheckout .cart-item .name {
  padding: 1rem;
}

.first-section {
  display: flex;
  justify-content: start;
  align-items: center;
}

.quickcheckout .cart-item .name {
  max-width: 60%;
}

.quickcheckout .clearfix .ty-checkout-buttons.cm-checkout-place-order-buttons button {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0;
}

.quickcheckout .form-check .form-check-input {
  margin: .5rem;
}

.quickcheckout .form-check {
  display: flex;
}

.ty-discount-coupon__control-group.ty-input-append {
	display: flex;
}

#coupon_field {
	width: 100%;
	font-size: .8rem;
	padding: .3rem;
}

.ty-discount-coupon__control-group.ty-input-append  .ty-btn-go {
	background: #F1EFEB;
	border: none;
	font-size: .8rem;
	font-weight: 500;
	padding: .5rem 1.5rem;
	margin-left: 5px;
}

.ty-cart-statistic__item.ty-statistic-list-discount {
	margin: .5rem 0;
	border-bottom: 1px solid #eee;
	padding-bottom: 1rem;
}

/* Checkout edits */

@media (max-width:767px) {
  .dispatch-checkout-cart #checkout_totals {
    padding:10px;
  }
  .quickcheckout .ty-shipping-options__method, .quickcheckout .ty-payments-list__item {
    padding:.5rem;
  }
  .quickcheckout .ty-shipping-options__method label, .quickcheckout .ty-payments-list__item label {
    line-height: 1.3;
  }
  .quickcheckout .ty-other-pay .ty-payments-list .ty-payments-list__item input {

    margin-left: 0;
  }
  .dispatch-quickcheckout-checkout .s-block:before {
    display: none;
  }
  .dispatch-quickcheckout-checkout .f-block {
    padding:0;
    margin-top: 1.5rem;
  }
  .quickcheckout .top-checkout .logo {
    max-width: 100px;
    display: inline-block;
  }
  .top-checkout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
  }
  .quickcheckout .top-checkout .checkout-back-btn {
    padding:.35rem .8rem
  }
  .s-block {
    padding: 0;
  }
  .quickcheckout .sticky-top {
    border-radius: 0px;
    background: #F1EFEB;
    padding: 1rem;
  }
  .quickcheckout .ty-cart-statistic__item.ty-statistic-list-subtotal {
    border-bottom: 1px solid #DFDBD3;
  }
  .ty-cart-statistic__item.ty-statistic-list-discount {
    border-bottom: 1px solid #DFDBD3;
  }
  .ty-discount-coupon__control-group.ty-input-append .ty-btn-go {
    background: #fff;
    border: 1px solid #999;
  }
  .quickcheckout .cart-item .name {
    max-width: 60%;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding: 0 .5rem;
  }
}

/* Checkout end */