/*******************************************************************************************
*   ___  _          ______                     _ _                _                        *
*  / _ \| |         | ___ \                   | (_)              | |              © 2024   *
* / /_\ | | _____  _| |_/ /_ __ __ _ _ __   __| |_ _ __   __ _   | |_ ___  __ _ _ __ ___   *
* |  _  | |/ _ \ \/ / ___ \ '__/ _` | '_ \ / _` | | '_ \ / _` |  | __/ _ \/ _` | '_ ` _ \  *
* | | | | |  __/>  <| |_/ / | | (_| | | | | (_| | | | | | (_| |  | ||  __/ (_| | | | | | | *
* \_| |_/_|\___/_/\_\____/|_|  \__,_|_| |_|\__,_|_|_| |_|\__, |  \___\___|\__,_|_| |_| |_| *
*                                                         __/ |                            *
*                                                        |___/                             *
* ---------------------------------------------------------------------------------------- *
* This is commercial software, only users who have purchased a valid license and accept    *
* to the terms of the License Agreement can install and use this program.                  *
* ---------------------------------------------------------------------------------------- *
* website: https://cs-cart.alexbranding.com                                                *
*   email: info@alexbranding.com                                                           *
*******************************************************************************************/
.top-menu-default-vetrtical {
    position: relative;

    .ty-menu__item:hover .ty-menu__item-link,
    .is-hover-menu .ty-menu__item-link,
    .is-hover-menu.ty-menu__item-active .ty-menu__item-link,
    .ty-menu__submenu-link:hover
    {
        background: var(--fill-gray);
        color: @font;
    }

    .ty-menu__items {
        flex-direction: column;
        flex-wrap: nowrap;
        padding: var(--gap-sm) 0;
        background: @general_bg_color;
        border-radius: 0 0 var(--border-radius-box) var(--border-radius-box);
    }
    .ty-menu__item {
        position: relative;
        width: 100%;

        .ty-menu__item-link {
            display: flex;
            align-items: center;
            padding-top: var(--gap-xs);
            padding-right: 32px;
            padding-bottom: var(--gap-xs);
            padding-left: var(--gap-s);
            min-height: 32px;
            color: @font;
        }
        > .ty-menu__submenu .ty-menu__submenu-items {
            top: 0;
            left: 100%;
            border: none;
            padding: var(--gap-sm) 0;
            box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 10px 15px 0 rgba(0, 0, 0, 0.3);
            border-radius: 0 var(--border-radius-box) var(--border-radius-box) var(--border-radius-box);
            overflow: hidden;

            > div, li {
                padding: var(--gap-xs) var(--gap-sm);
            }
            > .ty-menu__submenu-item {
                display: flex;
                min-width: 100%;
                margin: 0;
                padding: 0;

                > * {
                    width: 100%;
                    margin: 0;
                    padding: var(--gap-xs) var(--gap-sm);
                    min-height: 32px;
                    color: @font;
                }
            }
        }
    }
    .ty-menu__submenu-col {
        .ty-menu__submenu-item-header {
            padding: var(--gap-xxs) 0;
        }
        .ty-menu__submenu-list {
            margin: 0;
        }
        .ty-menu__submenu-item a {
            color: @font;
        }
    }
}


.ut2-menu-vetrtical {
    .exp-mwi-text {
        display: none;
    }

    .v-center:hover {
        color: contrast(@general_bg_color, @links, lighten(@links, 10%));
    }

    .ut2-menu__inbox {
        @media (min-width: 768px) {
            .ty-btn.ty-menu__submenu-alt-link {
                color: @links;
                box-shadow: none;
                background: fade(darken(@general_bg_color, 90%), 3%);
                font-weight: 500;
                margin-top: var(--gap-xs);

                i {
                    font-size: 18px;
                    line-height: 100%;
                    margin-left: 3px;
                }
                &:hover {
                    background-color: fade(darken(@general_bg_color, 90%), 5%);
                }
            }
        }

        li {
            padding: 0;
        }

        .ty-menu__submenu-item-active a {
            color: @font;
            background: var(--fill-white);
            padding: 0;
        }

        > .ty-menu__items {
            @media (min-width: 768px) {
                .ty-menu__item {
                    &-active .ty-menu__item-link {
                        background: var(--fill-gray);
                        color: @font;
                    }
                }
            }
            > .ty-menu__item {
                @media (max-width: 767px) {
                    display: none;
                    float: none;
                    margin-right: 0;
                    padding: 0;
                    position: relative;

                    &:hover .ty-menu__submenu-items {
                        @media (hover: hover) {
                            display: none;
                        }
                    }
                    .ty-menu__submenu .ty-menu__submenu-items {
                        padding: 0;
                    }
                }

                .menu-lvl-ctn .ut2-mwi-icon {
                    margin-right: var(--gap-s);

                    @media (min-width: 768px) {
                        max-height: 24px;
                        max-width: 24px;
                    }
                    @media (max-width: 767px) {
                        max-height: 28px;
                        max-width: 28px;
                        margin-top: 0;
                        margin-bottom: 0;
                    }
                }

                .ty-menu__item-link {
                    display: flex;
                    background: transparent;

                    .menu-lvl-ctn {
                        display: flex;
                        flex-wrap: nowrap;
                        flex-direction: row;
                        align-items: center;
                        color: @font;
                        padding-right: @header-menu-valign;
                        padding-left:  var(--gap-s);
                        width: 100%;
                        min-width: var(--v-menu-part-width);

                        @media (min-width: 1024px) {
                            padding-top: 8px;
                            padding-bottom: 8px;
                        }
                        @media (max-width: 1023px) {
                            padding-top: 3px;
                            padding-bottom: 3px;
                        }

                        .ut2-mwi-icon {
                            margin-top: 2px;
                            margin-bottom: 2px;
                            margin-left: 0;
                            margin-right: var(--gap-xs);
                        }
                        &.exp-wrap {
                            @media (min-width: 1024px) {
                                min-height: @header-menu-valign + 8;
                                padding-top: var(--gap-xs);
                                padding-bottom: var(--gap-xs);
                                padding-left: var(--gap-sm);
                                padding-right: @header-menu-valign;
                                align-items: flex-start;
                                font-weight: 600;
                                line-height: 1;

                                .ut2-mwi-icon {
                                    max-height: 32px;
                                    max-width: 32px;
                                    min-width: 32px;
                                    box-sizing: content-box;
                                }
                                .exp-mwi-text {
                                    font-size: var(--font-size-small);
                                    font-weight: normal;
                                    line-height: 1.1;
                                    color: var(--color-font-lighten);
                                    width: 100%;
                                    margin-top: 5px;
                                    display: inline-block;
                                }
                            }
                        }
                    }
                }
                &.last .ty-menu__item-link .menu-lvl-ctn.exp-wrap {
                    border-bottom: 0;
                }
            }
        }
    }

    @media (max-width: 767px) {

        .ty-menu__item.is-hover-menu > .ty-menu__submenu {
            display: none;
        }

        .ut2-more {
            display: none !important;
        }

        i.icon-right-dir, .sub-title-two-level {
            display: none;
        }

        a[class*="link"], a[class*="link"] > span:not(.m-label) {
            font-size: calc(~'var(--font-size-medium) + 1px');
        }

        .link-parent {
            display: block;
            text-decoration: underline;
            color: @links;
        }

        .m-label {
            top: 2px;
            height: var(--font-size-normal);
            font-size: calc(var(--font-size-small) - 4px);
            font-weight: 600;
            line-height: calc(var(--font-size-small) - 2px);
        }

        .ut2-menu__inbox {
            .ty-menu__items {
                padding: 0;
                background: none;
                border-radius: 0;

                .ty-menu__item {
                    display: block;
                    border: none;
                }

                > div:last-child {
                    border-bottom: 0 none;
                }
            }
        }
        .ty-menu__items {
            flex-direction: column;

            .ty-menu__item {
                .ty-menu__item-link {
                    display: flex;
                    align-items: center;
                    min-height: 50px;
                    padding: 0;
                    border-radius: 0;

                    i {
                        display: none;
                    }
                    .menu-lvl-ctn {
                        min-height: 50px;
                        font-size: calc(~'var(--font-size-medium) + 1px');
                    }
                }
            }
        }
        .ty-menu__item-active .ty-menu__item-link {
            background: none;

            & > span > span {
                color: @links;
                width: inherit;
            }
        }

        .ty-menu__submenu {
            .ty-menu__submenu-items {
                background: none;
                border: 0;
                width: 100%;

                .ty-menu__submenu-link {
                    display: inline-flex;
                    align-items: center;
                    text-transform: none;
                    font-weight: normal;
                }
                .ty-menu__submenu-item-header {
                    border-bottom: 0;

                    .ty-menu__submenu-link {
                        padding-top: 0;
                        padding-right: 50px;
                        padding-bottom: 0;
                        padding-left: var(--gap-s);
                    }
                }
                .ty-menu__submenu-item {
                    border-bottom: 0;
                    padding: 0;
                    margin: 0;
                    width: 100%;

                    .ty-menu__submenu-link {
                        padding-top: var(--gap-xxs);
                        padding-right: 0;
                        padding-bottom: var(--gap-xxs);
                        padding-left: var(--gap-m);
                        min-height: 30px;
                        font-size: var(--link-font-size);

                        &:not(:hover) {
                            color: var(--color-font-lighten);
                            background: transparent;
                        }
                    }
                }
            }
        }
        .ty-menu__submenu-col {
            width: 100% !important;

            > div {
                position: relative;
            }
            .ty-menu__submenu {
                min-height: inherit !important;

                &.tree-level-img {
                    min-width: auto;
                }
                .ty-menu__submenu-list {
                    height: auto !important;
                    display: none;

                    &.ty-menu__items-show {
                        display: block;
                        width: 100% !important;
                        max-width: 100% !important;
                    }
                    &.ty-menu__items-show + .tree-level-col {
                        display: block;
                        padding: 0 0 var(--gap-sm);
                        margin-top: calc(var(--gap-sm) * -1);
                    }
                }
            }
        }
        .ty-menu__submenu-item-header {
            margin-bottom: 0;
            padding-bottom: 0;

            .ty-menu__submenu-link {
                padding: 0 50px 0 20px;
                min-height: 50px;
                font-size: var(--link-font-size);
                color: @font;
                display: inline-block;

                &:hover .ty-menu__submenu-link {
                    background: var(--fill-gray);
                }
            }
        }

        .ty-menu__submenu-alt-link {
            background: none;
            box-shadow: none;
            margin: var(--gap-sm);
            height: auto;
            font-size: calc(~'var(--font-size-medium) + 1px');
            color: @links;

            i {
                font-size: calc(~'var(--font-size-medium) + 1px');
                line-height: 100%;
            }
            &.ty-btn i {
                margin-left: 3px;
            }
        }

        .first-lvl {

            &.is-hover-menu > .ty-menu__item-toggle:not(.ty-menu__item-toggle-active)  {

                i {
                    color: @font;

                    &:before {
                        display: none;
                    }
                    &:after {
                        background: @font;
                    }
                }

                & ~ .ty-menu__submenu, & > .ty-menu__submenu {
                    display: block;

                    .ty-menu__submenu-items {
                        position: relative;
                        min-height: auto !important;

                        > div, > div > div {
                            min-height: auto !important;
                        }
                    }
                    .ty-menu__submenu-link {
                        padding-right: 0;
                    }
                    .second-lvl {
                        padding-left: 38px;

                        .ty-menu__item-toggle-active i {
                            color: @font;

                            &:before {
                                display: none;
                            }
                            &:after {
                                background: @font;
                            }
                        }
                    }
                }
            }

            &:not(.is-hover-menu) > .ty-menu__item-toggle-active {

                & + .ty-menu__item-link {
                    position: fixed;
                    top: 50px;
                    width: 100%;
                    z-index: @z-index + 1;

                    .menu-lvl-ctn {
                        background: var(--fill-gray);
                        min-height: 50px;
                        padding: var(--gap-xxs) var(--gap-s);

                        &:before {
                            .ut2-icon();
                            content: "\e964";
                            color: var(--color-font-lighten);
                            font-size: var(--font-size-big);
                            margin-right: 8px;
                            margin-left: -5px;
                        }
                        img {
                            display: none;
                        }
                        > span {
                            > span {
                                font-weight: 500;
                                font-size: calc(~'var(--font-size-medium) + 1px');
                            }
                        }
                    }
                }
                & ~ .ty-menu__submenu, & > .ty-menu__submenu {
                    position: fixed;
                    top: 100px;
                    height: calc(~'100dvh - 100px');
                    width: 100%;
                    z-index: 1001;
                    background: @general_bg_color;
                    overflow-y: auto;
                    scrollbar-width: thin;
                    scrollbar-color: @base10 transparent;
                    -webkit-overflow-scrolling: touch;

                    &::-webkit-scrollbar {
                        width: 5px;
                    }
                }
                & ~ .ty-menu__item-link {
                    + .ty-menu__submenu {
                        padding-bottom: calc(~'var(--height-button) + var(--gap-xs) + (var(--gap-s) * 2)');

                        > .link-parent {
                            display: flex !important;
                            justify-content: space-between;
                            background: none;
                            font-weight: normal;
                            text-decoration: none;
                            padding: var(--gap-s);
                            color: @font;
                            position: fixed;
                            top: calc(~'100dvh - 80px');
                            width: 100%;
                            height: calc(~'var(--height-button) + var(--gap-xs) +  (var(--gap-s) * 2)');
                            background: fade(@general_bg_color, 95%);
                            border-top: 1px solid @base5;
                            backdrop-filter: blur(6px);
                            -webkit-backdrop-filter: blur(6px);
                            z-index: @z-index;

                            * {
                                font-size: var(--font-size-medium) !important;
                            }
                        }
                    }
                }
            }
        }

        .second-lvl {
            .ut2-mwi-icon {
                display: none;
            }
        }

        .ty-menu__item-toggle {
            position: absolute;
            z-index: 1;
            right: 0;
            top: 0;
            height: 50px;
            width: 50px;
            min-width: 100%;
            padding-right: 50px;

            i {
                inline-size: 50px;
                block-size: 50px;
                position: absolute;
                inset-block-start: 0;
                inset-inline-end: 0;

                &:before {
                    content: '';
                    background: @base20;
                    block-size: 18px;
                    inline-size: 2px;
                    position: absolute;
                    inset: 0;
                    margin: auto;
                }
                &:after {
                    content: '';
                    background: @base20;
                    block-size: 2px;
                    inline-size: 18px;
                    position: absolute;
                    inset: 0;
                    margin: auto;
                }
            }
        }

        .ty-menu__item:not(.is-hover-menu) .ty-menu__item-toggle-active {
            background: transparent;

            i {
                color: @font;

                &:before {
                    display: none;
                }
                &:after {
                    background: @font;
                }
            }

            & ~ .ty-menu__item-link {
                border-radius: 0;
                background: var(--fill-gray);

                .v-center {
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    width: calc(~'100vw - 65px');
                    overflow: hidden;
                    display: inherit;
                    line-height: 1;

                    .m-label {
                        top: 0;
                        vertical-align: middle;
                        height: 14px;
                        padding-top: unset;
                        padding-bottom: unset;
                        display: inline-flex;
                        align-content: center;
                        align-items: center;

                        body.mobile-screen & {
                            top: -1px;
                        }
                    }
                }
            }
            & ~ .ty-menu__submenu {
                display: block;

                .ty-menu__submenu-items {
                    display: block !important;
                    visibility: visible;
                    opacity: 1;

                    .ty-menu__submenu-item {
                        margin-bottom: 0;
                    }
                    > div {
                        min-height: auto !important;
                        margin: var(--gap-xs) 0;
                    }
                }
                .ty-menu__submenu-col {
                    width: 100% !important;
                    min-width: 100%;
                }
            }
        }
    }
}

.top-menu-grid-vetrtical {
    &.ty-dropdown-box {
        position: inherit;

        @media (min-width: 768px) {
            .ty-dropdown-box__title.open ~ .ui-widget-overlay {
                position: fixed;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                display: block;
                width: 100vw;
                height: 100vh;
                z-index: 1;
            }
        }

        .top-search & {
            @media (max-width: 767px) {
                position: absolute;
                left: -200vw;
                top: -200vh;
            }
        }
    }
}

.top-logo {
    .top-menu-grid-vetrtical {
        .ty-dropdown-box__title > span {
            display: none;
        }
    }
}

.top-logo, .top-search, .menu-grid, .top-menu-grid-vetrtical {
    .ty-dropdown-box__title[id] {
        display: flex;
        align-items: center;
        justify-content: center;
        height: @light-header-height-elements;
        font-weight: 500;
        background: @primary_button;
        transition: background 150ms;
        cursor: pointer;

        .primary_button_color1() when not (iscolor(@primary_button_color)) {
            color: contrast(@primary_button, @font, white);
        }
        .primary_button_color1() when (iscolor(@primary_button_color)) {
            color: @primary_button_color;
        }
        .primary_button_color1();

        .ut2_round(@round: 8px) when (@abt__ut2_general_use_rounding = little) {
            border-radius: @round;
        }
        .ut2_round(@round: 22px) when (@abt__ut2_general_use_rounding = full) {
            border-radius: @round;
        }
        .ut2_round();

        > i.ut2-icon {
            display: flex;
            align-items: center;
            height: @light-header-height-elements;
            font-size: var(--font-size-normal);
            line-height: 1;
            margin-right: 0;
            color: currentColor;

            &:before {
                content: "\e976";
                display: flex;
                align-items: center;
                justify-content: center;
                height: @light-header-height-elements;
                font-family: uni2-icons;
                font-size: @light-header-icon-size - 2;
            }
        }
        &:hover {
            .ut2-btn-primary-hover();
            box-shadow: none;
            padding-bottom: 0;
        }
        @media (min-width: 768px) {
            &.open {
                z-index: @z-index + 13;

                > i.ut2-icon {
                    &:before {
                        content: "\e92e";
                        top: 0;
                    }
                }
                + .ty-dropdown-box__content {
                    left: 0;
                    right: auto;
                    z-index: @z-index + 11;
                    transition: none;
                    overflow: hidden;
                    @media (min-width: 1280px) {
                        -webkit-animation: dialog_is_open .2s cubic-bezier(.4, 0, .2, 1);
                        animation: dialog_is_open .2s cubic-bezier(.4, 0, .2, 1);
                    }

                    > .ty-dropdown-box__title {
                        display: none !important;
                    }
                }
            }
            & + .ty-dropdown-box__content {
                left: 0;
                transition: .2s cubic-bezier(.4, 0, .2, 1);
            }
        }
    }

    @media (max-width: 767px) {
        .ty-dropdown-box {
            &.hidden-phone {
                display: none;
            }
            &__title {
                * {
                    transition: all 0ms;
                }
                &.open {
                    & + .ty-dropdown-box__content {
                        position: fixed;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100dvh;
                        border-radius: 0;

                        * {
                            transition: all 0ms;
                        }
                        .ut2-btn-close {
                            display: flex !important;
                        }
                    }
                }
            }
            &__content {
                z-index: @z-index + 5; // over sticky panels when full viewport open
            }
        }
    }
}

@media (max-width: 767px) {
    .span16 > .ut2-menu-opener, .span16 > .hidden-desktop > .ut2-menu-opener {
        width: 100%;
    }
}

.mouseevents .top-menu-grid-vetrtical {
    @media (min-width: 768px) and (max-width: 1150px) {
        &.open + .ty-dropdown-box__content {
            position: fixed;
            left: var(--gap-sm);
            right: var(--gap-sm);
            max-width: calc(~'dvw - '(var(--gap-sm) * 2));
        }
    }
}

@media (max-width: 767px) {
    html.sticky-top-panel body.fixed-header .advanced_header {
        .top-menu-grid-vetrtical {
            .ty-dropdown-box__content {
                height: 100vh;
            }
            .ut2-menu__inbox {
                height: 100vh;
            }
        }
    }
}
&.no-scroll {
    .top-menu-grid-vetrtical {
        z-index: initial !important;
    }
}
