.sads {
    color:#B03300;
    text-decoration:underline;
    font-weight:bold;
}
.styled-table {
    border-collapse: collapse;
    margin: 15px 0;
    font-family: sans-serif;
    font-size: 0.9em;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #654ac9;
    color: #ffffff;
    text-align: center;
    border-right: 1px solid #FFF;
}

.styled-table th {
    padding: 10px 10px;
    text-align: center;
    border-right: 1px solid #FFF;
}
.styled-table td {
    padding: 12px 15px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    border: 1px solid #654ac9;
}

.styled-table tbody tr {
    border: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 1px solid #654ac9;
}
.btn_clip {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    --fa-style-family-duotone: "Font Awesome 6 Duotone";
    --fa-font-duotone: normal 900 1em/1 "Font Awesome 6 Duotone";
    --fa-font-regular: normal 400 1em/1 "Font Awesome 6 Pro";
    --fa-style-family-classic: "Font Awesome 6 Pro";
    --fa-font-solid: normal 900 1em/1 "Font Awesome 6 Pro";
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    box-sizing: border-box;
    background: 0 0;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    user-select: none;
    text-shadow: none;
    outline: 0!important;
    min-width: 27px;
    border-width: thin!important;
    text-transform: uppercase;
    font-size: 11px;
    padding: 0 11px;
    letter-spacing: -.37px;
    font-weight: 600;
    box-shadow: none;
    background-color: #fafafb;
    color: #4e565f;
    border-color: #d1d5dc;
    border-bottom-color: #d1d5dc;
    -webkit-border-radius: 50px!important;
    margin: 0 1px 0 1px;
    line-height: 25px;
    position: relative;
    margin-top: -2px;
    margin-bottom: 4px;
    margin-left: 20px;
}

.btn_clip_span {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    --fa-style-family-duotone: "Font Awesome 6 Duotone";
    --fa-font-duotone: normal 900 1em/1 "Font Awesome 6 Duotone";
    --fa-font-regular: normal 400 1em/1 "Font Awesome 6 Pro";
    --fa-style-family-classic: "Font Awesome 6 Pro";
    --fa-font-solid: normal 900 1em/1 "Font Awesome 6 Pro";
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    user-select: none;
    text-transform: uppercase;
    letter-spacing: -.37px;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    font-family: "Font Awesome 6 Pro";
    display: block;
    float: left;
    position: relative;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 12px;
    text-shadow: 4px 4px 2px rgba(150,150,150,0);
    font-weight: 400;
    background: 0 0;
    padding: 0;
    line-height: inherit;
    color: inherit;
    margin: 0 6px 0 0;
}